@import "variables";
@import "mixins";

main {
  display: flex;
  align-items: center;

  aside {
    width: 95px;

    ul {
      list-style-type: none;
      padding: 0px;
    }
  }
}

.nav-icon {
  @include image-div(20px);
}
.nav-feat {
  font-size: 10px;
  width: 62px;
  height: 60px;
  @include flex-div(column);
  margin-bottom: 10px;
}
.nav-feat:hover {
  background-color: $primary-color;
  border-radius: 10px;
}
