@import "variables";
@import "mixins";

body {
  background-color: $primary-bg-color;
  color: $primary-font-color;
}
header {
  padding: 0 16px;
  @include flex-div(row);
  justify-content: space-between;

  > div {
    @include flex-div(row);
  }
}

.menu-icon {
  @include image-div(30px);
}
.youtube-logo {
  padding: 2px 15px 0 15px;
  @include image-div(125px);
}

.user-activity {
  background-color: $primary-bg-color;
  border: 0;
  padding: 0;
  margin: 0 3px;
  @include image-div(45px);
}

.profile {
  margin: 0 5px;
  @include cover-image-div(30px, 30px);
  img {
    border-radius: 50px;
  }
}

.search {
  @include flex-div(row);
  justify-content: space-between;
  width: 500px;
  background-color: $search-input-color;
  border: 1px solid $search-border-color;
  border-right: none;
  border-radius: 50px 0 0px 50px;
  padding: 11px 17px;

  input {
    width: 400px;
    background-color: $search-input-color;
    border: 0;
    padding: 0 2px;
  }
}

.search-button {
  background-color: $primary-color;
  border: 1px solid $search-border-color;
  padding: 6px 10px;
  border-radius: 0 50px 50px 0;
  @include cover-image-div(65px, 39.5px);
}

.voice {
  margin-left: 15px;
  width: 20px;
  height: 20px;
  background-color: #272727;
  padding: 11px;
  border-radius: 50px;
  @include cover-image-div(20px, 20px);
}

.header-left {
  width: 300px;
}
.header-right {
  width: 300px;
  justify-content: flex-end;
}
