@import "variables";
@import "mixins";

body {
  background-color: $primary-bg-color;
  color: $primary-font-color;
  width: 100%;
}

/* header */

header {
  padding: 0 16px;
  @include flex-div(row);
  justify-content: space-between;

  > div {
    @include flex-div(row);
  }
  margin-bottom: 15px;
}

.menu-icon {
  @include image-div(30px);
}
.youtube-logo {
  padding: 2px 15px 0 15px;
  @include image-div(125px);
}

.user-activity {
  background-color: $primary-bg-color;
  border: 0;
  padding: 0;
  margin: 0 3px;
  @include image-div(45px);
}

.profile {
  margin: 0 5px;
  @include cover-image-div(30px, 30px);
  img {
    border-radius: 50px;
  }
}

.search {
  @include flex-div(row);
  justify-content: space-between;
  width: 500px;
  background-color: $search-input-color;
  border: 1px solid $search-border-color;
  border-right: none;
  border-radius: 50px 0 0px 50px;
  padding: 11px 17px;

  input {
    width: 400px;
    background-color: $search-input-color;
    border: 0;
    padding: 0 2px;
  }
}

.search-button {
  background-color: $primary-color;
  border: 1px solid $search-border-color;
  padding: 6px 15px;
  border-radius: 0 50px 50px 0;
  @include cover-image-div(65px, 39.5px);
}

.voice {
  margin-left: 15px;
  width: 20px;
  height: 20px;
  background-color: #272727;
  padding: 11px;
  border-radius: 50px;
  @include cover-image-div(20px, 20px);
}

.header-left {
  width: 300px;
}
.header-right {
  width: 300px;
  justify-content: flex-end;
}

/* aside */

main {
  display: flex;
  width: 100%;

  aside {
    width: 95px;

    ul {
      list-style-type: none;
      padding: 0px;
      margin: 0;
    }
  }
}

.nav-icon {
  @include image-div(20px);
}
.nav-feat {
  font-size: 10px;
  width: 62px;
  height: 60px;
  @include flex-div(column);
  justify-content: center;
  margin-bottom: 10px;
}
.nav-feat:hover {
  background-color: $primary-color;
  border-radius: 10px;
}

/* section */
section {
  width: 100%;
  @include flex-div(column);
  align-items: baseline;
  justify-content: space-between;
}
.filter-wrapper {
  @include flex-div(row);
  padding: 4px;

  .filter {
    padding: 7.5px 10px;
    margin-right: 11px;
    background-color: $search-border-color;
    border-radius: 7px;
    font-size: $primary-font-size;
  }
  .selected-filter {
    background-color: $primary-font-color;
    color: $search-border-color;
    font-size: $primary-font-size;
  }
}

.videos {
  width: 100%;
  padding: 4px;
  @include flex-div(row);
  flex-wrap: wrap;

  article {
    flex: 1 0 20%;
    padding: 10px;

    .video {
      @include cover-image-div(100%, auto);
      img {
        border-radius: 10px;
      }
    }
    .info {
      width: 100%;
      display: flex;
      .uploader-profile {
        width: 40px;
        padding: 13px 10px;
        height: 100px;
        img {
          width: 40px;
          height: 40px;
          border-radius: 50px;
        }
      }
      .video-info {
        padding: 13px 0;
        height: 100%;
      }
      h4 {
        font-size: $title-font-size;
        margin: 0;
      }
      p {
        font-size: $primary-font-size;
        color: $sub-font-color;
        padding: 0;
        margin: 2px 0;
      }
    }
  }
}
