$primary-bg-color: #0f0f0f;
$primary-color: #222222;
$primary-font-color: #f1f1f1;
$sub-font-color: #aaaaaa;
$search-border-color: #272727;
$search-input-color: #121212;
$title-font-size: 16px;
$primary-font-size: 14px;
